<style>
	#sideBar{
	    height: 100vh;
	    width: 280px;
	    overflow: hidden;
	    background: var(--app-bg);
	    color: #333;
	}

	#sideBarContent{
		padding: 20px;
	    height:calc(100vh - 50px);
	    overflow: hidden;
	    overflow-y: auto;
	}

	#sideBarContent #userColor{
		width: 100%;
		font-size: 16px;
		padding: 4px;
		outline: none;
	}

	#sideBarContent #curColorBox{
		display: inline-block;
		margin-top: 8px;
		width: 100%;
	}

	#sideBarContent .button-bar{
		padding: 8px 0;
	}

	#sideBarContent .button-bar button{
		flex: 1;
		padding: 4px 0;
		max-width: 50%;
	}

	#sideBarContent .button-bar button:nth-child(even){
		margin-left: 2px;
	}

	#sideBarContent .button-bar button:nth-child(odd){
		margin-right: 2px;
	}

	input:not([type="range"]){
		display: block;
	}
</style>

<aside id="sideBar">
    <div id="sideBarContent">
	   	<color-box id="curColorBox" color="$ctrl.colorBg" style="height: 120px"></color-box>
	   	<br><br>

	   	<input id="userColor" type="text" ng-keyup="$ctrl.handleKey($event)" ng-model="$ctrl.inputColor">

	   	<br>

	   	<rgb-slider 
	   		rgb="$ctrl.rgb"
	   		on-rgb-change="$ctrl.setRgb(rgb)"></rgb-slider>

	   	<br>

	   	<div class="button-bar layout justified">
	   		<button ng-click="$ctrl.onManipulateColor({how: 'darken'})">DARKEN</button>
	   		<button ng-click="$ctrl.onManipulateColor({how: 'lighten'})">LIGHTEN</button>
	   	</div>
	   	<div class="button-bar layout justified">
	   		<button ng-click="$ctrl.onManipulateColor({how: 'saturate'})">SATURATE</button>
	   		<button ng-click="$ctrl.onManipulateColor({how: 'desaturate'})">DESATURATE</button>
	   	</div>

	   	<div class="button-bar layout justified">
	   		<button ng-click="$ctrl.onManipulateColor({how: 'spin'})">SPIN</button>
	   		<button ng-click="$ctrl.onManipulateColor({how: 'greyscale'})">GREYSCALE</button>
	   	</div>
    </div>
</aside>