<style>
	#sideBar{
	    height: 100vh;
	    width: 280px;
	    overflow: hidden;
	    background: var(--app-bg);
	    color: #333;
	}

	#titleHeader{
	    height: 50px;
	    position: relative;
	    padding: 0 20px;
	    font-size: 1.3em;
	}

	#titleHeader h1{
	    font-family: "Lilly", cursive;
	    color: #888;
	    font-size: 1.35em;
	}

	#titleHeader hr{
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	    width: 100%;
	    height: 1px;
	    border: none;
	    background: #dfdfdf;
	}

	#sideBarContent{
		padding: 20px;
	    height:calc(100vh - 50px);
	    overflow: hidden;
	    overflow-y: auto;
	}

	#curColorBox{
		display: inline-block;
		margin-top: 8px;
		width: 100%;
	}
</style>

<!-- <tiny-color color="$ctrl.color" tinycolor="$ctrl.tinycolor"></tiny-color> -->

<aside id="sideBar">
    <div id="titleHeader" class="layout center justified">
        <h1 class="flex">Rangi</h1>
        <i class="fa fa-cog"></i>
        <hr>
    </div>
    <div id="sideBarContent">
    	COLOR: {{$ctrl.color}}
	   	<color-box id="curColorBox" color="$ctrl.color"></color-box>
	   	<br><br>
	   	<button ng-click="$ctrl.darken()">DARKEN</button>
    </div>
</aside>