<style>
	#mainContent{
        
    }

    #mainContent #header{
    }

    #mainContent #content{
	    padding: 20px 30px;
        height: calc(100vh - 75px);
        overflow: hidden;
        overflow-y: auto;
	}

    #mainContent #tabs{
        min-height: 40px;
        background: #f3f3f3;
    }

    #mainContent #tabs h2{
        font-size: 1.1em;
    }
</style>

<main id="mainContent">
    <div id="header">
        <div id="tabs" class="layout center-center">
            <h2>PALETTES</h2>
        </div>
    </div>

    <div id="content" ng-nicescroll nice-option="{cursorcolor: '#e2edff', cursoropacitymin: 0.5, cursoropacitymax: 0.5}">
        <section>
            <color-palette 
                palette="palette" 
                ng-repeat="palette in $ctrl.palettes track by $index"
                on-color-clicked="$ctrl.onColorClicked({color: color})"></color-palette>
        </section>
    </div>
</main>